<ion-content color="rosado">
  <ion-card color="amarillo">
    <ion-card-title class="ion-text-center">Reglamento academico</ion-card-title>
    <ion-card-header>
      <h5 class="texto-asistencia">Por reglamento académico tienes que tener un 70% de Asistencia en cada uno de tus
        ramos para
        aprobar el curso, en esta sección podrás revisar el avance y así no repetir por no ir a
        clases.</h5>
      <ion-card-title class="ion-text-center"></ion-card-title>
    </ion-card-header>