.loginheader {
    background-color: var(--ion-color-rosado); /* Color de fondo oscuro */
    padding: 10px;
  }
  
  .hl1 {
    margin-left: auto;
    margin-right: auto;
    width: 20%;}
  
  .titulo{
      color: var(--ion-color-texto);
      font-family: "Lucida Console", Courier, monospace;
  }

  .fuente{
    font-family: "Lucida Console", Courier, monospace;
  }
  
  