<ion-header class="loginheader" [translucent]="false"> 
  <h1 class="titulo ion-text-center">VIVO DUOC</h1>
  <ion-img class="hl1" src="https://pngimg.com/uploads/Half-Life/Half-Life_PNG76.png"></ion-img>
</ion-header>
<ion-content color="rosado">
  <ion-card color="amarillo">
    <ion-card-header>
      <ion-card-title>
        <h1 class="fuente ion-text-center">¡Bienvenido!</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="amarillo">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input typer="text" [(ngModel)]="login.Usuario"></ion-input>
      </ion-item>
      <ion-item color="amarillo">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="login.Password" ></ion-input>
      </ion-item>
      <ion-button (click)="ingresar()" class="fuente" expand="block" color="boton">Ingresar</ion-button>
      <br>
      <ion-button (click)="goToRecuperarContrasena()" class="fuente" expand="block" color="boton">¿HAS OLVIDADO TU CONTRASEÑA?</ion-button>
    </ion-card-content>
  </ion-card>