.solidsnake {
    display: block; /* Hace que la imagen sea un elemento de bloque */
    margin-left: 70%; 
    margin-right: auto; 
    width: 10%; /* Ajusta el tamaño de la imagen según sea necesario */
}