<ion-content color="rosado">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nombre Profesor</ion-card-title>
          <ion-card-subtitle>Perfil DuocUC</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="end">
                <img src="https://tse2.mm.bing.net/th?id=OIP.ftl6c3Jn99MwoZqgW_NpWAHaGB&pid=Api" />
              </ion-thumbnail>
            </ion-item>
            <ion-item>
              <ion-label>Direccion: </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Correo DuocUC: </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Correo Personal: </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>    
