.homeheader {
  background-color: var(--ion-color-rosado); /* Color de fondo oscuro */
  padding: 10px;
}

.hl {
  margin-left: auto;
  margin-right: auto;
  width: 10%;}

.titulo{
    color: var(--ion-color-texto);
    font-family: "Lucida Console", Courier, monospace;
}


